@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  border-radius: 25px;
}

::-webkit-scrollbar-track {
  background: #1e293b;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb {
  background-color: #f97316;
  border-radius: 25px;
}
